@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url('./assets/fonts/Aeonik-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url('./assets/fonts/Aeonik-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url('./assets/fonts/Aeonik-Black.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url('./assets/fonts/Aeonik-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url('./assets/fonts/Aeonik-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url('./assets/fonts/Aeonik-Thin.otf') format('opentype');
  font-weight: 100;
}

* {
  font-family: 'Aeonik', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.hero-text {
  background: radial-gradient(167.35% 167.35% at 52.31% -21.83%, #FCFEFF 44.79%, #319EDC 96.35%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}

.flex-2 {
  flex: 2;
}

.btn-gradient {
  background: linear-gradient(269.97deg, #002CEE -4.13%, #00C8E3 105.18%);
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #1787ff;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #1787ff6c;
}

.hero-bg {
  width: 100%;
  background-image:
    url("./assets/home-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(171.65deg, #75E6FF 9.63%, #0036C1 91.65%);
}

.about-hero-bg {
  background-image: url("./assets//about-hero-bg.png")
}

.about-bg {
  background-image:
    url("./assets/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.bg-gradient {
  background: linear-gradient(91.85deg, #46CEEC 0%, #0036C1 95.2%);
}


.bg-hex {
  background: url("./assets/hexagon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hex {
  background: url("./assets/hexagon-border-dull.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hex.clr-white {
  background: url("./assets/hexagon-border-white.svg");
}

.services-bg {
  background-image: url("./assets/services-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.services-bg-full {
  background-image: url("./assets/services-bg.png");
}

.bg-home-bottom {
  background-image: url("./assets/home-bottom-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-primary {
  clip-path: polygon(25% 0%, 75% 0%, 82% 50%, 75% 100%, 25% 100%, 18% 50%);
}

.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon-wide {
  -webkit-clip-path: polygon(0% 44%, 21% 1%, 81% 0%, 99% 43%, 79% 99%, 24% 100%);
  clip-path: polygon(0% 44%, 21% 1%, 81% 0%, 99% 43%, 79% 99%, 24% 100%);
}

.hexagon-bg {
  background: linear-gradient(198.2deg, rgba(0, 49, 122, 0.88) 7.01%, rgba(1, 24, 66, 0.88) 56.54%);
  box-shadow: -5px 5px 30px 0px rgba(19, 46, 92, 1);
}

.hexagon-bg.clip {
  clip-path: url(#svgPath);
}

.bg-gradient-secondary {
  background: linear-gradient(270deg, #3963F8 0%, #56B7EE 84.4%);
}

.bg-gradient-accent {
  background: linear-gradient(111.65deg, #75E6FF 30.63%, #0036C1 70.65%),
    linear-gradient(0deg, rgba(217, 217, 217, 0), rgba(217, 217, 217, 0));
}

.inset-shadow-bottom {
  box-shadow: -182px 195px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -182px 195px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -182px 195px 105px -109px rgba(0, 0, 0, 0.75) inset;
}

.inset-shadow-top {
  box-shadow: -182px -173px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -182px -173px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -182px -173px 105px -109px rgba(0, 0, 0, 0.75) inset;
}

.bar-gradient {
  background: linear-gradient(270.02deg, #3374ED -2.62%, #CDDEFA 100%);
}

.about-info-bg {
  background: url("./assets/about-info-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.custom-shadow {
  box-shadow: -14px 14px 5px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: -14px 14px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -14px 14px 5px 0px rgba(255, 255, 255, 1);
}

.custom-shadow-white {
  box-shadow: -8px 8px 2px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: -8px 8px 2px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -8px 8px 2px 0px rgba(255, 255, 255, 1);
}

.custom-shadow-sm {
  box-shadow: -10px 14px 3px 0px #2D4266;
  -webkit-box-shadow: -10px 14px 3px 0px #2D4266;
  -moz-box-shadow: -10px 14px 3px 0px #2D4266;
}

.services-page-bg {
  background: url("./assets/services_back.png") no-repeat center center/cover;
}

.home-main-bg {
  background: url("./assets/home-main-bg.png") no-repeat center center;
  padding: 8rem 0rem;
  background-size: 100%;
}

.bg-dashboard {
  background: url("./assets/dashboard-bg.png") no-repeat center center/cover;
}