@font-face {
  font-family: 'saxono';
  src: local('saxmono'), url("./assets/saxmono.ttf") format('truetype');
}


.font-saxmono {
  font-family: 'saxmono';
}

.flex-2 {
  flex: 2;
}

.btn-gradient {
  background: linear-gradient(269.97deg, #002CEE -4.13%, #00C8E3 105.18%);
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #1787ff;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #1787ff6c;
}




.hero-bg {
  min-height: 653px;
  width: 100%;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.44)),
    url("./assets//hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-gradient {
  background: linear-gradient(269.97deg, #002CEE -4.13%, #00C8E3 105.18%);
}

.bg-hexagon {
  background: url("./assets//hexagon.png") no-repeat center center/contain;
}

.bg-home-bottom {
  background: url("./assets//sqe1.png") no-repeat center center/cover;
  background-size: 100%;
}

.text-gradient {
  background: linear-gradient(269.97deg, #002CEE -4.13%, #00C8E3 105.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}