*,
p,
button,
a {
  font-family: 'Public Sans', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.hero-text {
  background: radial-gradient(167.35% 167.35% at 52.31% -21.83%, #FCFEFF 44.79%, #319EDC 96.35%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.flex-2 {
  flex: 2;
}

.btn-gradient {
  background: linear-gradient(269.97deg, #002CEE -4.13%, #00C8E3 105.18%);
}

.hero-bg {
  width: 100%;
  background-image:
    url("./assets/home-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(171.65deg, #75E6FF 9.63%, #0036C1 91.65%);
}

.about-hero-bg {
  background: url("./assets//about-hero.png") no-repeat center top/contain;
}

.about-bg {
  background-image:
    url("./assets/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-bottom-bg {
  background-image:
    url("./assets/about-bottom-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .about-bottom-bg {
    background: none;
  }
}

.bg-about-bottom-right {
  background-image:
    url("./assets/about-bottom-right-bg.png");
  background-repeat: no-repeat;
  background-position: top -400px right -1100px;
  background-size: cover;
}

.bg-gradient {
  background: linear-gradient(91.85deg, #46CEEC 0%, #0036C1 95.2%);
}


.bg-hex {
  background: url("./assets/hexagon-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-hex.clr-white {
  background: url("./assets/hex-shape-selected.svg");
}

.bg-hex.dashboard {
  background: url("./assets/services-hex.svg");
}

.services-bg {
  background-image: url("./assets/services-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.services-bg-full {
  background-image: url("./assets/services-bg.png");
}

.bg-home-bottom {
  background-image: url("./assets/home-bottom-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-polygon-xl {
  background-image: url("./assets/polygon-xl.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-learning-hero-01 {
  background-image: url("./assets/learning-hero-bg-01.png");
  background-position: top -500px left -870px;
  background-size: 110%;
  background-repeat: no-repeat;
}

.bg-learning-hero-02 {
  background-image: url("./assets/learning-hero-bg-02.png");
  background-position: top -720px right -870px;
  background-size: 110%;
  background-repeat: no-repeat;
}

.bg-learning-main {
  background-image: url("./assets/learning-hero-bg.svg");
  background-position: top -80px right 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

.bg-learning-featured {
  background-image: url("./assets/learning-featured-content-bg.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-learning-center-content-left {
  background-image: url("./assets/learning-content-bg-left.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-learning-center-content-right {
  background-image: url("./assets/learning-content-bg-right.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.team-bg {
  background-position: top -500px right 0px;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.clip-primary {
  clip-path: polygon(25% 0%, 75% 0%, 82% 50%, 75% 100%, 25% 100%, 18% 50%);
}

.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon-wide {
  -webkit-clip-path: polygon(0% 44%, 21% 1%, 81% 0%, 99% 43%, 79% 99%, 24% 100%);
  clip-path: polygon(0% 44%, 21% 1%, 81% 0%, 99% 43%, 79% 99%, 24% 100%);
}

.hexagon-bg {
  background: linear-gradient(198.2deg, rgba(0, 49, 122, 0.88) 7.01%, rgba(1, 24, 66, 0.88) 56.54%);
  box-shadow: -5px 5px 30px 0px rgba(19, 46, 92, 1);
}

.hexagon-bg.clip {
  clip-path: url(#svgPath);
}

.bg-gradient-secondary {
  background: linear-gradient(270deg, #3963F8 0%, #56B7EE 84.4%);
}

.bg-gradient-accent {
  background: linear-gradient(111.65deg, #75E6FF 30.63%, #0036C1 70.65%),
    linear-gradient(0deg, rgba(217, 217, 217, 0), rgba(217, 217, 217, 0));
}

.inset-shadow-bottom {
  box-shadow: -182px 195px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -182px 195px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -182px 195px 105px -109px rgba(0, 0, 0, 0.75) inset;
}

.inset-shadow-top {
  box-shadow: -182px -173px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -182px -173px 105px -109px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -182px -173px 105px -109px rgba(0, 0, 0, 0.75) inset;
}

.bar-gradient {
  background: linear-gradient(270.02deg, #3374ED -2.62%, #CDDEFA 100%);
}

.about-info-bg {
  background: url("./assets/about-info-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.custom-shadow {
  box-shadow: -14px 14px 5px 0px rgba(209, 224, 251, 0.2);
  -webkit-box-shadow: -14px 14px 5px 0px rgba(209, 224, 251, 0.2);
  -moz-box-shadow: -14px 14px 5px 0px rgba(209, 224, 251, 0.2);
}

.custom-shadow-white {
  box-shadow: -8px 8px 2px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: -8px 8px 2px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -8px 8px 2px 0px rgba(255, 255, 255, 1);
}

.custom-shadow-sm {
  box-shadow: -10px 14px 3px 0px #2D4266;
  -webkit-box-shadow: -10px 14px 3px 0px #2D4266;
  -moz-box-shadow: -10px 14px 3px 0px #2D4266;
}

.services-page-bg {
  background: url("./assets/services_back.png") no-repeat center center/cover;
}

.home-main-bg {
  background: url("./assets/home-main-bg.png") no-repeat center center;
  padding: 8rem 0rem;
  background-size: 100%;
}

.bg-dashboard {
  background: url("./assets/dashboard-bg.png") no-repeat center center/cover;
}

.bg-gradient-contact {
  background: linear-gradient(171.65deg, #75E6FF 9.63%, #0036C1 91.65%);
}

.contact__title-bg-gradient {
  background: radial-gradient(74.32% 2284.69% at 0.64% 54.46%, #6BBEED 0%, #FCFEFF 94.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home__competitor-border_bg {
  background: linear-gradient(90deg, #75E6FF 24.78%, #0C47C7 78.97%);
}

.contact-hero-bg {
  background: url("./assets/contact-hero-bg.png") no-repeat;
  background-size: cover;
  background-position: top -200px left 0px;
}

.contact-bottom-bg {
  background: url("./assets/contact-bottom-bg.png") no-repeat;
  background-size: cover;
}

.dashboard-hero-bg {
  background: url("./assets/dashboard-hero-bg.png") no-repeat;
}

.dashboard-bottom-bg {
  background: url("./assets/dashboard-bottom-bg.png") no-repeat;
  background-position: right 0px top 100px;
  background-size: 50%;
}

.checkbox-round {
  position: relative;
  top: 0px;
  right: 2px;
  z-index: 10;
  width: 1.45rem;
  height: 1.3rem;
  background-color: transparent;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background: linear-gradient(180deg, #46CEEC 0%, #0036C1 100%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: rotate(90deg);
}


.hexagon-checkbox {
  width: 100px;
  height: 57.735px;
  background: #46CEEC;
  position: relative;
  transform: scale(0.25);
}

.hexagon-checkbox::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid #46CEEC;
}

.hexagon-checkbox::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid #46CEEC;
}

.competitor-comparison {
  background: url("./assets/competitor-comparison-bg.png");
  background-position: right 0px top -400px;
  background-size: 75%;
}

.pre-register__heading-gradient {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  /* identical to box height */

  letter-spacing: -0.03em;
  text-transform: uppercase;

  background: radial-gradient(167.35% 167.35% at 52.31% -21.83%, #FCFEFF 44.79%, #319EDC 96.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
.home-hero::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 780px;
  height: 1000px;
  background: url('./assets/home-hero-bg.png');
}

@media screen and (max-width: 450px) {
  .home-hero::after {
    display: none;
  }
}